/* Ordenamiento general */
* {
    margin: 0;
    padding: 0;
}

:root {
    --font-family-base: 'Raleway', sans-serif;
    --font-family-alt: 'Roboto Slab', serif;

    --color-bg: rgba(149, 165, 166 );
}

html { 
    font-size: 16px;
}

@media screen and ( max-width: 400px ) {
    html {
        font-size: 13px;
    }
    
}
body{
    font-family: 'Raleway', 'Roboto Slab', 'Helvetica';
    font-size: 1rem;
    line-height: 1.5; 
}
h3,
h4 {
    font-weight: 300;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    color: rgba(169, 50, 38);
    margin-top: 20px;
    margin-bottom: 20px;
}

address {
    color: rgba(169, 50, 38);;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Detalles Menu */
.site-header {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: var(--color-bg);
}
.site-navigation {
    display: flex;
    justify-content: space-between;
}
.site-navigation a {
    flex: 100%;
    align-content: center;
    text-align: center;
    text-decoration: none;
    padding: .5rem 2rem;
    font-size: 1.25rem;
    color: whitesmoke;
    background-color: #333;
}
.site-footer {
    padding: 2rem;
    background-color: var(--color-bg);
}